/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css starts here*/
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;

}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px;
}
header {
	background-color: #d6550e;
}
.navigation {
	padding: 30px 0;
}
.navigation ul {
	display: flex;
	list-style: none;
}
.navigation a {
	text-decoration: none;
    padding-right: 30px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
main {
	background-color: #D4CEA7;
}
.firstrow{
	display: flex;
	padding: 40px 0;
}
.column1{
	flex-basis: 35%;
	padding: 40px 0 60px 50px;
	background-color: #005979;
	box-shadow: 10px 10px 15px 0 #777777;
}
.column2 {
	margin: 0 40px;
	padding-left: 50px;
	padding-top: 40px;
}
.column1 li {
	color: #d2cfa6;
	font-weight: bold;
	line-height: 2;
}
.order{
	padding-left: 30px;
}
.image {
	background: url("../media/verified.png") 0 8px no-repeat;
	padding-left: 30px;
	list-style: none;
}
.last {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px 0 10px;
}
.last dt {
	font-weight: bold;
	font-size: 20px;
	color: #363023;

}
.loreum {
	padding-bottom: 20px;
}
.last dd {
	padding:20px 30px 20px 50px;
}